

h1{
  display: grid;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}

.cards{
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.header-image-container{
  background-color: #95AF34;
}

.header-image{
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  align-self: center;
  align-content: center;
  vertical-align: center;
  margin: auto;
}

.dessert-container, .starters-container, .maincourse-container,.drinks-container{
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: 20em;
  grid-gap: 25px;
}

.card-title{
  height: 4em;
}

.linked-list li{
  display: inline;
}

.navbarNav {
  display: flex;
}