* {
  /* font-family: 'Lobster', cursive; */
  font-weight: bold;
}

h1{
  display: grid;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #D81900;
}

h2{
  display: grid;
  color: #D81900;
  align-content: center;
  vertical-align: center;
  justify-content: center;
  font-weight: bold;
}

h4{
  display: grid;
  margin: auto;
  color: #D81900;
  align-content: center;
  vertical-align: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* .ingredients-lines{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem;
}

.ingredients-lines p {
  grid-column: 2 / 5;
} */

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}

.cards{
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.header-image-container{
  background-color: #95AF34;
}

.header-image{
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  align-self: center;
  align-content: center;
  vertical-align: center;
  margin: auto;
}

.card-title{
  font-size: 95%;
}

.card {
  height: 23rem;
}

.dessert-container, .starters-container, .maincourse-container,.drinks-container{
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 15em);
  grid-gap: 1em;
}

.card-title{
  height: 3.5em;
}

.linked-list li{
  display: inline;
  padding-right: 0.6rem;
  font-size: 1.2rem;
}

.navbarNav {
  display: inline;
}

.home-turkey {
  width: 69%;
  display:grid;
  margin:auto;
}

.NavbarItems{
  height: 40px;
  display:grid;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  background-color:#FFCD38;
  border-top: 5px solid #734631;
  border-bottom: 5px solid #D21101;
  align-content: left;
  text-align: left;
  margin-top: -58px;
  padding: -5px;
}

.remove-completely{
  /* visibility: hidden; */
  /* height: 0px;
  width: 0px; */
}

.NavbarItems a{
  text-decoration: none;
  color: #95AF34;
  padding-left: 10px;
}

.toggleButton  {
  display: none;
}

#hidden li a {
  display: flex;
}

.linked-list {
  margin-top: .1rem;
}

.header-container {
  display: grid;
  grid-template-columns:  1fr;
}

.card-title{
  color:#244C12;
}

/* #nav-head{
  position: sticky;
  top: 0;
} */

@media only screen and (max-width:850px) {
  
}

@media only screen and (max-width:750px) and (min-width: 656px){

}

@media only screen and (max-width:808px) {
  .toggleButton {
    display: flex;
    margin-top: 1rem;
  }

  .linked-list .links{
    display: none;
  }

  #hidden .links{ 
    top: -5px;
    position:relative;
    padding-top: 10px;
    display: grid;
    width: 8rem;
    max-height: 230px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 5fr;
    background-color:#FFAD18;
    z-index: 1;
    margin-left: -32px;
    margin-top: -5px;
  }

  #hidden .links a {
    color:#244C12;
  }

  #menu-links{
    padding-top: 1.2rem;
  }

  #burger{
    margin-top: 0.4rem;
  }
 
}